<div class="jumbotron">
  <h1>Rails 5 Starter Project</h1>
  <p>The only rails 5 starter project you will ever need to start your project right away. Built using latest Rails 5.1 & Ruby 2.4.1.</p>
  <p>Includes Devise for authentication, Carrierwave for image upload & cloudinary for image hosting.</p>
  <p>This is deployed on Heroku & uses Git for code repository and version control.</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/priom/rails5starter">Check out on Github</a></p>
  <a href='https://semaphoreci.com/priom/rails5starter'> <img src='https://semaphoreci.com/api/v1/priom/rails5starter/branches/master/badge.svg' alt='Build Status'></a>
</div>
