<footer class="footer">
  <div class="container">
    <p class="lead text-center"><%= Time.now.year %>, Proudly Developed by <a href="https://priom.me/" target="_blank">PrioM</a></p>
  </div>
</footer>
